body {
    background-color: red;
    background-image: url("./img/bg.jpg");
}

.container {
    margin-top: 20%;
}

.btn-nets {
    margin: 5px;
    width: 100%;
    background-color: #276580;
}

.btn-nets:hover {
    background-color: #173c4c;
}

.nets-logo {
    padding: 24px 0 0 24px;
    max-width: 100px;
}