@charset "UTF-8";
// Color
@import "components/color-variables";
@import "components/color-classes";
// Variables;
@import "components/variables";
// Reset
@import "components/normalize";
// components
@import "components/global";
@import "components/icons-material-design";
@import "components/grid";
@import "components/typography";
@import "components/transitions";
@import "components/cards";
@import "components/buttons";
body {
    background-image: url("../img/bg.jpg");
}

.container {
    margin-top: 20%;
}

.btn-nets {
    margin: 5px;
    width: 100%;
    background-color: #276580;
}

.btn-nets:hover {
    background-color: #173c4c;
}

.nets-logo {
    padding: 24px 0 0 24px;
    max-width: 100px;
}
