html,
body {
    background-image: url("./bg.jpg");
}

.container {
    margin-top: 30%;
}

.btn-large {
    margin: 5px;
    width: 100%;
    background-color: #276580;
}

.btn-large:hover {
    background-color: #173c4c;
}

;